.title {
  padding-left: 40% !important;
  font-size: 30px !important;
}

.inputLabel {
  width: 30%;
  padding: 12px 20px;
  margin: 2em 5em 2em 21em;
  border: 1px solid #ccc;
  border-radius: 4px;
}
#buttonSearch {
  width: 20%;
  background-color: #4caf50;
  color: white;
  padding: 14px 10px 12px 10px;
  margin-bottom: 6px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  .title {
    padding-left: 20% !important;
  }

  .inputLabel {
    margin-left: 15vh;
    margin-right: 5vh;
  }
  #buttonSearch {
    width: 30%;
  }
}
