.singleMoviePart{
    display:flex;
    justify-content: space-between;
    width:100%;
    padding: 1% 0% 1% 5%
}
.singleMovieTitle{
    margin-right:1%;
}

#button{
    width: 20%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 10px 12px 10px;
    margin-bottom:6px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }