.singleMoviePart {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 1% 0% 1% 5%;
}
.singleMovieTitle {
  margin-right: 1%;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}

.movieListPoster {
  width: 15em;
  height: 21em;
}
