.modalInfo {
  display: flex;
}

.moreAboutMovie {
  display: block;
  margin-left: 10px;
}
.modalPoster {
  width: 15em;
  height: 21em;
}

@media only screen and (max-width: 800px) {
  .modalPoster {
    width: 11em;
    height: 15em;
  }
}
