.movieList {
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 3em;
  margin-top: 2em;
}
.extraInfo {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 1200px) {
  .movieList {
    margin-left: 25%;
    margin-right: 25%;
  }
}

@media only screen and (max-width: 800px) {
  .movieList {
    margin-left: 10%;
    margin-right: 10%;
  }
}
